@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
body {
  margin: 0;
  min-height: 100dvh;
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
.container {
  max-width: 375px;
  padding: 2rem;
}
.header {
  text-align: center;
  padding-block: 3rem;
}
.header .title {
  font-size: 1.5rem;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}
.header .title > span {
  font-weight: 600;
}
.header .description {
  font-size: 15px;
  line-height: 1.5;
  color: hsl(229, 6%, 66%);
}

.card {
  position: relative;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 11px 9px 22px -17px rgba(0, 0, 0, 0.87);
}
.card__header .title {
  color: hsl(234, 12%, 34%);
  font-size: 1.25rem;
  font-weight: 600;
}
.card__header .description {
  color: hsl(229, 6%, 66%);
  font-size: 14px;
  font-weight: 200;
}
.card_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card img {
  margin-top: 2rem;
  margin-left: auto;
}
.card::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  height: 5px;
  width: 100%;
}
.card.supervisor::after {
  background-color: hsl(180, 62%, 55%);
}
.card.team::after {
  background-color: hsl(0, 78%, 62%);
}
.card.karma::after {
  background-color: hsl(34, 97%, 64%);
}
.card.calculator::after {
  background-color: hsl(212, 86%, 64%);
}

@media (min-width: 1000px) {
  .container {
    max-width: 1200px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .header .title {
    font-size: 3rem;
  }

  .header .description {
    max-width: 660px;
    font-size: 1.125rem;
    margin-top: -1rem;
  }
  .card {
    padding: 1rem 2rem 2rem 2rem;
  }
  .card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
  }

  .card.supervisor {
    transform: translateY(55%);
  }
  .card.karma {
    grid-area: 2/2;
  }
  .card.calculator {
    transform: translateY(55%);
  }
}
